//主题色
$color-red: #ff3333;
$color-purple: #ff33a9;
$color-orange: #ff8833;
$color-blue: #3377ff;

// 文字色
$color-black: #000;
$color-dark: #666;
$color-pl: #999;
$color-weak: #8e8e93;
$color-white: #fff;

// 背景色
$bg-page: #f5f5f5;

// 边框颜色
$boder-dark: #eee;